<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Login</h1>
          <h6>Please enter username & password</h6>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="mb-3">
            <label for="inputUsername" class="form-label">Username</label>
            <input formControlName="username" type="text" class="form-control" id="inputUsername" placeholder="Username">
          </div>
          <div class="mb-3">
            <label for="inputPassword" class="form-label">Password</label>
            <input formControlName="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <a routerLink="/signup">Don't have an account? Create one!</a>
      </div>
    </div>
  </div>
</div>
