<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h3>{{user.user_Name}}'s Profile</h3>
                </div>
                <form [formGroup]="userForm">
                    <div class="mb-3">
                        <label for="userPassword" class="form-label">New password:</label>
                        <input type="password" formControlName="newPassword" class="form-control" placeholder="New password" id="userPassword">
                    </div>
                    <div class="mb-3">
                        <label for="userRole" class="form-label">Role:</label>
                        <select (change)="roleChange()" formControlName="role" class="form-control" id="userRole">
                            <option value="" disabled selected>Select user's role</option>
                            <option value="Admin">Admin</option>
                            <option value="Developer">Developer</option>
                            <option value="Customer">Customer</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="userDeveloperTeam" class="form-label">Developer team:</label>
                        <select formControlName="devTeam" class="form-control" id="userDeveloperTeam">
                            <option value="" disabled selected>Select developer</option>
                            <option value="-1">None</option>
                            <option *ngFor="let developer of developers" 
                            value="{{developer.id}}">{{developer.devTeam_name}}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="confirm" class="form-label">Enter current password to confirm your identity</label>
                        <input type="password" formControlName="oldPassword" style="margin-bottom: 5px;" class="form-control" id="confirm" placeholder="Current password">
                        <small *ngIf="userForm.controls['oldPassword'].dirty && userForm.hasError('required', 'oldPassword')" class="text-danger">*Current password is required</small>
                    </div>
                    <button type="button" (click)="setForm()" class="btn btn-secondary">Reset changes</button>
                    <button [disabled]="userForm.invalid" type="button" (click)="submitChanges()" class="btn btn-primary">Save changes</button>
                </form>
            </div>
        </div>
    </div>
</div>